{% extends 'WORKER/worker_home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get" class="table-active">
<table width="250" border="2" cellspacing="4" cellpadding="4">
  <tr>
    <th scope="row">SERVICE ID</th>
    <td>USERNAME</td>
    <td>WORK DESCRIPTION</td>
    <td>&nbsp;</td>
  </tr>
     {% for i in data %}
  <tr>
    <th scope="row">{{ i['Service_id']   }}</th>
    <td>{{ i['u_name']   }}</td>
    <td>{{ i['description']   }}</td>
    <td><p><a href="/workapproving/{{ i['Service_id'] }}">ACCEPT</a></p>
      <p><a href="/rejectwork/{{ i['Service_id'] }}">REJECT</a></p></td>
  </tr>
     {% endfor %}
</table>

</form></body>
</html>
{% endblock %}