<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>

<body>
<form action="" method="get" enctype="multipart/form-data">
<table width="397" border="2" cellspacing="4" cellpadding="4">
  <tr>
    <th width="54" scope="row">NAME</th>
    <td width="33"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    </tr>
  <tr>
    <th scope="row">HOUSE NAME</th>
    <td><input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
  <tr>
    <th scope="row">PLACE</th>
    <td><input type="text" name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
    <th scope="row">POST</th>
    <td><input type="text" name="textfield4" id="textfield4" /></td>
  </tr>
  <tr>
    <th scope="row">PIN</th>
    <td><input type="text" name="textfield5" id="textfield5" /></td>
  </tr>
  <tr>
    <th scope="row">AGE</th>
    <td><input type="text" name="textfield6" id="textfield6" /></td>
    </tr>
  <tr>
    <th scope="row">PHOTO</th>
    <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" /></td>
    </tr>
  <tr>
    <th scope="row">PHONE NUMBER</th>
    <td><input type="text" name="textfield7" id="textfield7" /></td>
    </tr>
  <tr>
    <th scope="row">CATEGORY</th>
    <td><label for="select"></label>
      <select name="select" id="select">
        <option value="Carpenter">Carpenter</option>
        <option value="Plumber">Plumber</option>
        <option value="Electrician">Electrician</option>
        <option value="Painter">Painter</option>
        <option value="Gardener">Gardener</option>
        <option value="Helper">Helper</option>
      </select></td>
    </tr>
  <tr>
    <th scope="row">EXPERIENCE</th>
    <td><input type="text" name="textfield9" id="textfield9" /></td>
    </tr>
  <tr>
    <th scope="row">GENDER</th>
    <td><p>
      <label>
        <input type="radio" name="RadioGroup1" value="Male" id="RadioGroup1_0" />
        Male</label>
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="Female" id="RadioGroup1_1" />
        Female</label>
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="Others" id="RadioGroup1_2" />
        Others</label>
      <br />
    </p></td>
    </tr>
  <tr>
    <th scope="row">EMAIL</th>
    <td><input type="text" name="textfield11" id="textfield11" /></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" /></th>
    </tr>
  </table>

</form>
</body>
</html>
