<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="250" border="2" cellspacing="4" cellpadding="4">
    <tr>
      <th scope="row"><a href="/adminadd_category">ADD CATEGORY</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/adminviewcategory">VIEW CATEGORY</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_viewworker">APPROVE AND REJECT WORKERS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_viewapproved">VIEW APPROVED WORKERS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_viewuser">VIEW USERS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_viewrating">VIEW RATINGS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_sendnotification">SEND NOTIFICATIONS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_viewcomplaint">VIEW COMPLAINTS AND REPLY</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_viewfeedback">VIEW FEEDBACK</a></th>
    </tr>
  </table>
</form>
</body>
</html>
