<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
  <table width="250" border="2" cellspacing="4" cellpadding="4">
  <tr>
    <th scope="row"><a href="/usereditprofile">EDIT PROFILE</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="#">REQUEST WORK</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="#">VIEW REQUEST STATUS</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="#">REVIEWS AND RATINGS</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/usersendcomplaint">SEND COMPLAINTS AND VIEW REPLY</a></th>
  </tr>
  <tr>
    <th scope="row"><p><a href="#">SEND FEEDBACK</a></p></th>
  </tr>
  <tr>
    <th scope="row"><a href="/userchangingpassword">CHANGE PASSWORD</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/userviewnotification">VIEW NOTIFICATION</a></th>
  </tr>
  </table>

</form>

</body>
</html>
